body {
    padding: 10px;
}

.listing {
    display: flex;
    cursor: pointer;
    border: solid 1px black;
    margin: 10px;
    height: 200px;
}

.listingcontent {
    float: left;
    padding: 10px;
}

.listingimage {
    padding: 10px;
    width: 350px;
}

.listingimage img {
    max-height: 100%;
    max-width: 300px;
}

.description {
    display: inline-block;
    max-width: 80%;
    max-height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
}