{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}
    {% if category == "No category" %}
        <h2>Listings without category specified</h2>
    {% else %}
        <h2>Listing in <strong>{{ category }}</strong> category</h2>
    {% endif %}
    <ul style="list-style: none; padding: 0px">
        {% for listing in listings %}
            <li>
            <div class="listing" onclick="window.location.href = '{% url 'viewlisting' listing.id %}'">
            <div class="listingimage">
                <img src="{{ listing.photo_url }}" alt="{{ listing.title }}">
            </div>
            <div class="listingcontent">
                <h4><strong>{{ listing.title }}</strong></h4>
                <div class="description">{{ listing.content }}</div>
                <br><strong>Price:</strong> ${{ listing.listing_bid.last.value|floatformat:2|intcomma }}
                <br><i>Category: {{ listing.category.get_category_type_display }}</i>
            </div>
            </div>
            </li>
        {% empty %}
            No listings!
        {% endfor %}
    </ul>
{% endblock %}