{% extends "auctions/layout.html" %}

{% load humanize %}
{% load static %}

{% block body %}
    <h3>Inactive Listings</h3>
    <ul class="ullistings">
    {% for listing in listings %}
        <li>
        <div class="listing" onclick="window.location.href = '{% url 'view_listing' listing.id %}'">
        <div class="listingimage">
            {% if listing.photo_url %}
                <img src="{{ listing.photo_url }}" alt="{{ listing.title }}">
            {% else %}
                <img src="{% static 'auctions/images/Noimage.jpg' %}" alt="{{ listing.title }}">
            {% endif %}
        </div>
        <div class="listingcontent">
            <h4><strong>{{ listing.title }}</strong></h4>
            <br><strong>Final price:</strong><span class="price"> ${{ listing.listing_bid.last.value|floatformat:2|intcomma }}</span>
            <div class="bar">&nbsp;</div>
            <div class="description">{{ listing.content|truncatechars:100 }}</div>
            <span class="category"><br><i>Category: {{ listing.category.get_category_type_display }}</i></span>
        </div>
        </div>
        </li>
    {% empty %}
        No inactive listings.
    {% endfor%}
    </ul>
{% endblock %}