{% extends "auctions/layout.html" %}

{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>
    {% if not listings %}
        No active listings.<br>
    {% endif %}
    <a href="{% url 'closedlistings'%}">see inactive listings</a>
    <ul style="list-style: none; padding: 0px">
    {% for listing in listings %}
        <li>
        <div class="listing" onclick="window.location.href = '{% url 'viewlisting' listing.id %}'">
        <div class="listingimage">
            <img src="{{ listing.photo_url }}" alt="{{ listing.title }}">
        </div>
        <div class="listingcontent">
            <h4><strong>{{ listing.title }}</strong></h4>
            <div class="description">{{ listing.content }}</div>
            <br><strong>Price:</strong> ${{ listing.listing_bid.last.value|floatformat:2|intcomma }}
            <br><i>Category: {{ listing.category.get_category_type_display }}</i>
        </div>
        </div>
        </li>
    {% empty %}
    {% endfor%}
    </ul>

{% endblock %}