{% extends "auctions/layout.html" %}

{% block body %}
        <h4><strong>Listing: {{ listing.title }}</strong></h4>
        {% if user.is_authenticated %}
                <form action="{% url 'addtowatchlist' listing.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="viewlisting" name="addorremove">
                        {% if watchlist == True %}
                                <input type="submit" value="Remove from watchlist">
                        {% else %}
                                <input type="submit" value="Add to watchlist">
                        {% endif %}
                </form>
        {% endif %}
        {{ listing.content }}
        <br>Current bid: {{ bid.value }}
        <br><i>Category: {{ listing.category.get_category_type_display }}</i>
        <br><img src=" {{ listing.photo_url }}" alt=" {{ listing.title }}" style="max-width: 300px">
        {% if user.is_authenticated %}
                <form action="{% url 'comment' listing.id %}" method="POST">
                        {% csrf_token %}
                        {{ form_comment }}
                       
                        <input type="submit" value="Add Comment">
                </form>
        {% endif %}
        <ul style="list-style: none; padding: 0px">
        {% for comment in comments %}
                <li>{{ comment.content }}<br><i>added on {{ comment.date }}</i></li>
                <br>
        {% empty %}
                No comments yet!
        {% endfor %}
        </ul>
{% endblock %}